<!DOCTYPE html>

<html lang="it">

<component>head</component>

<body class="no-print">

    <component>header</component>

    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><a href="/index.php" lang="it">Home</a>   </li>
                <li aria-current="page">Contatti</li>
            </ol>
        </nav>
        <ul class="flex-container"> 
            CONTATTI CONTATTI CONTATTI CONTATTI CONTATTI CONTATTI CONTATTI           
        </ul>
    </div>

    <component>footer</component>

</body>
</html>