<!DOCTYPE html>

<html lang="it">

<component>head</component>

<body class="no-print">

    <component>header</component>

    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><a href="/index.php" lang="it">Home</a>   </li>
                <li aria-current="page">Prodotti</li>
            </ol>
        </nav>
        
        <section id="prodotti">
            <div>
                <h2>I nostri Prodotti</h2>
            </div>
            <ol class="items">
                <component>items</component>
            </ol>
        </section>

    </div>

    <component>footer</component>

</body>
</html>