<!DOCTYPE html>

<html lang="it">

<component>head</component>

<body class="no-print">

    <component>header</component>

    <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
        <ol>
            <li><a href="/index.php" lang="it">Home</a>   </li>
            <li aria-current="page">Prodotti</li>
        </ol>
    </nav>

    <main>
        <h1>Prodotti</h1>

        <div class="main-content">
            <div id="filter-container" class="flex-container">
                <h2>Filtri</h2>
            </div>
            <div id="prodotti" class="items">
                <component>items</component>
            </div>
        </div>
    </main>

    <component>footer</component>

</body>

</html>