*{
    margin: 0;
    /*primary palette*/
    
    --primary-bg: #fff;
    --primary-text: #000;

    --primary-accent-bg: #e1f7df;
    --secondary-accent-bg: #9ceaac;
    --tertiary-accent-bg: #80d2a3;

    /* shades of green (darkest to lightest)
    #13260f
    #14341f
    #1b4836
    #1f5e50
    #20746d
    #368b7c
    #4ea28b
    #66ba98
    #80d2a3
    #9ceaac
    #e1f7df
    */

    /* ANCORA DA DEFINIRE
    --non-visited-link: #e1f8b0;
    --visited-link: #fff7ab;
    */
    
}

.active > a {
    font-weight: bold;
    text-decoration: none;
}

/* MISCELLANEOUS */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'DM Sans', 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/
}

html {
    background-color: var(--primary-bg);    
}

button,
input,
select,
textarea {
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    padding: 5px;
    border-radius: 15px;
}

    /* Link 
a:link {
    color: var(--non-visited-link);
}

a:visited {
    color: var(--visited-link);
}
*/

/* HEADER */
header {
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

    /* Logo */
header img {
    padding: 12px 25px;
    height: 84px;
}

    /* Menu */
header nav {
    width: 100%;
    /*background-color: var(--primary-bg);*/
    align-items: center;
    box-sizing: border-box;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    padding-left: 0;
    gap: 0.75em;
    font-size: 1.15em;
}

header nav ul li a {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    color: #000;
}

header nav ul li a:hover, a:focus{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

    /* Area personale */
header nav ul li:last-child {
    margin-left: auto;
}


/* BREADCRUMB */
.breadcrumb {
    margin: 0 17px;
    background-color: var(--primary-accent-bg);
    padding: 9px 20px;
    font-size: 1.05em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
}

.breadcrumb:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
}

.breadcrumb ol {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb ol li {
    font-weight: bold;
}

.breadcrumb ol li:not(:last-child)::after {
    content: " > ";
    margin: 0 5px;
}
.breadcrumb ol li a:hover {
    text-decoration:none;
}

/* LOGIN */
.login-form {
    margin: 30px auto;
    padding: 30px;
    width: 320px;
    font-size: 1.1em;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
.login-form h1, p {
    text-align: center;
}
  
.login-form label {
    margin-top: 1em;
    display: block;
}
  
.login-form input {
    width: 100%;
    padding: 8px 12px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 15px;

}
  
.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}
  
.login-form button,
.register-link {
    padding: 8px 24px;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register-link {
    border: 2px solid transparent;
}

.login-form button:hover,
.register-link:hover  {
    transform: scale(1.08);
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
  
.register-link {
    display: inline-block;

}
  

/* BODY */
body main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

    /* BOX */
body main .flex-container {
    margin: 20px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
    transition: all 0.5s ease;
}

body main .flex-container:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


    /* TITOLO */
body main > h1 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

    /* CONTENUTO */
body .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    /* FILTRO */
body #filterForm {
    flex: 1;
}

body #filter-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

body #filter-container > h2 {
    text-align: center;
}

body #search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 15px;
}

body #filters {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

body .filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

select {
    border-radius: 15px;
    padding: 5px 10px;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

body input[type=submit] {
    padding: 3px;
    font-size: 1.05em;
    border-radius: 15px;
}

    /* ELENCO PRODOTTI */
body #results-container {
    flex: 4;
    display: flex;
    flex-direction: column;
}

body .pagination-info {
    padding: 5px 10px;
}

body .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 5px 20px 15px 5px;
}
  
body .item {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    padding: 12px;
    transition: all 0.3s ease;
}

body .item > * {
    padding: 0px;
}

.items a {
    display: inline-block;
    text-decoration: none;
    color:#000;
    border-radius: 20px;
}

.item:hover, .item:focus {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
}

body #pagination-container {
    align-self: center;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.pagination li {
    display: inline;
}

    /* DETTAGLIO PRODOTTO */
body #product-container {    
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

body #product-image {
    flex: 1;
    text-align: left;
    align-content: center;
}

body #product-image img {
    max-width: 100%;
    width: fit-content;
    display: block;
}

body #product-details {
    flex: 2;
    margin: 30px;
    line-height: 1.5em;
}

body #product-details > h2 {
    margin-bottom: 15px;
    text-align: left;
    padding-left: 5px;
}

body #product-details > p {
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.cart-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 15px 10px;
}

#product-price {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 10px;
}

#qty-input, #add-to-cart {
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.93em;
    /*background-color: var(--primary-accent-bg);*/
}

/* MODIFICA */
#main-content {
    align-self: center;
    max-width: 80%;
}

.product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
}
  
.form-control {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    min-width: 250px;
    text-align: left;
}

.form-control label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}


/* FOOTER */
footer {
    margin: 20px 30px 0 30px;
    background-color: var(--primary-accent-bg);
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

footer:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

footer .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

footer .flex-container .footer-box {
    flex: 1;
    text-align: center;
}

footer table {
    text-align: center;
}

footer li {
    list-style: none;
    text-indent: -40px;
}

footer #sum {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}
