*{
    margin: 0;
    /*primary palette*/
    
    --primary-bg: #fff;
    --primary-text: #000;

    --primary-accent-bg: #e1f7df;
    --secondary-accent-bg: #9ceaac;
    --tertiary-accent-bg: #80d2a3;

    /* shades of green (darkest to lightest)
    #13260f
    #14341f
    #1b4836
    #1f5e50
    #20746d
    #368b7c
    #4ea28b
    #66ba98
    #80d2a3
    #9ceaac
    #e1f7df
    */

    /* ANCORA DA DEFINIRE
    --non-visited-link: #8ed4dd;
    --visited-link: #8cb1f1;
    */
    
}

.active > a {
    font-weight: bold;
}

/* MISCELLANEOUS */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
    background-color: var(--primary-bg);    
}

    /* Link
a:link {
    color: var(--non-visited-link);
}

a:visited {
    color: var(--visited-link);
}
*/

/* HEADER */
header {
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

    /* Logo */
header img {
    padding: 12px 25px;
    height: 84px;
}

    /* Menu */
header nav {
    width: 100%;
    /*background-color: var(--primary-bg);*/
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    
    /*border-top: 1px solid black;    /* TEMPORANEO */
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 0;
    font-size: 1.1em;
}

header nav ul li a:hover {
    text-decoration: none;
}

header nav ul li a:focus {
    text-decoration: none;
}

    /* Area personale */
header nav ul li:last-child {
    margin-left: auto;
}


/* BREADCRUMB */
.breadcrumb {
    margin: 0 15px;
    background-color: var(--primary-accent-bg);
    padding: 10px 20px;
    font-size: 1.05em;

    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.breadcrumb ol {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb ol li {
    font-weight: bold;
}

.breadcrumb ol li:not(:last-child)::after {
    content: " > ";
    margin: 0 5px;
}
.breadcrumb ol li a:hover {
    text-decoration:none;
}

/* LOGIN */
.login-form {
    margin: 30px auto;
    padding: 30px;
    width: 320px;
    font-size: 1.1em;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
.login-form h1, p {
    text-align: center;
}
  
.login-form label {
    margin-top: 1em;
    display: block;
}
  
.login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
  
.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}
  
.login-form button,
.register-link {
    padding: 8px 12px;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.register-link {
    display: inline-block;
}
  

/* BODY */
body main {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

    /* BOX */
body main .flex-container {
    margin: 20px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}

    /* TITOLO */
body main h1 {
    text-align: center;
    width: 100%;
}

    /* CONTENUTO */
body .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    /* FILTRO */
body #filter-container {
    flex: 1;
    text-align: left;
    align-self: flex-start;
}

body #filter-container > h2 {
    text-align: center;
}

body #search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin-top: 1em;
}

body #filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1em;
}
  
body input[type=submit] {
    float: right;
    margin-top: 2em;
    font-size: 1.05em;
}

    /* ELENCO PRODOTTI *//*
body .items {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

body .item {
    max-width: 200px;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    margin: 5px;
    padding: 10px;
    text-align: center;
}*/

body .items {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px 18px;
    padding: 20px 25px 40px 5px;
}
  
body .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


    /* DETTAGLIO PRODOTTO */
body #product-container {    
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

body #product-image {
    flex: 1;
    text-align: left;
}

body #product-image img {
    max-width: 100%;
    width: fit-content;
    display: block;
}

body #product-details {
    flex: 3;
    margin: 30px;
    line-height: 1.5em;
}

body #product-details > h2 {
    margin-bottom: 15px;
}

body #product-details > p {
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

body #product-action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cart-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 15px 10px;
}

#qty-input, #add-to-cart {
    padding: 5px;
}


/* FOOTER */
footer {
    margin: 20px;
    background-color: var(--primary-accent-bg);
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

footer .flex-container {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer .flex-container .footer-box {
    flex: 1;
    text-align: center;
}

footer table {
    text-align: center;
}

footer li {
    list-style: none;
    text-indent: -40px;
}

footer #sum {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}
