<footer>
    <div class="flex-container">
        <div class="footer-box">
            <h2>I Nostri Contatti</h2>
            <ul>
                <li>Telefono: 123 4567 890</li>
                <li>Email: info@farmaciaarchimede.it</li>
                <li>Indirizzo: Via Galileo Galilei 1123</li>
                <li>P.IVA: 43651058610</li>
            </ul>
        </div>

        <div class="footer-box">
            <h2>Orari</h2>
            <ul>
                <li>Lunedì: 08:00 - 12:00 14:00-19:00</li>
                <li>Martedì: 08:00 - 12:00 14:00-19:00</li>
                <li>Mercoledì: 08:00 - 12:00 14:00-19:00</li>
                <li>Giovedì: 08:00 - 12:00 14:00-19:00</li>
                <li>Venerdì: 08:00 - 12:00 14:00-19:00</li>
                <li>Sabato: 08:00 - 12:00 14:00-19:00</li>
                <li>Domenica: 08:00 - 12:00 14:00-19:00</li>                
            </ul>
        </div>
    </div>
    <div class="copy">
        <p>Copyright &copy; <span lang="it">Farmacia Archimede</span> 2025</p>
        <p> Padova(PD)</p>
    </div>
</footer>