 <footer>
    <div class="flex-container">
        <div class="footer-box">
            <h2>I Nostri Contatti</h2>
            <ul>
                <li>Telefono: 123 4567 890</li>
                <li>Email: <a href="mailto:archimedeafarma@email.com">archimedeafarma@email.com</a></emailto:></li>
                <li>Indirizzo: Via Galileo Galilei 1123</li>
                <li>P.IVA: 43651058610</li>
            </ul>
        </div>

        <div class="footer-box">
            <li>
                <div class="copy">Copyright &copy; Farmacia Archimede  2025</div>
            </li>
        </div>

        <div class="footer-box">
            <h2>Orari</h2>
            <ul>
                <li>Dal lunedì al venerdì: 08:00-12:00 e 14:00-19:00</li>
                <li>Sabato: 08:00-12:00</li>
                <li>Domenica: chiuso</li>             
            </ul>
        </div>
    </div>
</footer>