<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Farmacia Archimede è una farmacia autorizzata alla vendita, anche online, di medicinali e cosmetici.">
    <meta name="keywords" content="farmacia, medicina, salute, vendita, benessere, cosmetici">
    
    <title>Farmacia Archimede</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  
    <link rel="stylesheet" href="assets/css/main.css">
    
</head>
<body class="no-print">

    <component>header</component>

    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <span>Ti trovi in: </span>
            <ol>
                <li><span aria-current="page" lang="it">Home</span></li>
            </ol>
        </nav>
        <ul class="flex-container">         
            <h1>Benvenuto in farmacia Archimede!</h1>   
        </ul>
    </div>

    <component>footer</component>

</body>
</html>